.table {
  width: 500px;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #181818;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #000000;
  color: aliceblue;
}

.table td:first-child {
  text-transform: capitalize;
}
